<a href="https://colab.research.google.com/github/Kaaaaaaaaaang/COS_pro_study/blob/main/Day01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬은 실행시 자료형을 자동으로 구분하여 할당한다.(동적 바인딩)<br>
큰 따옴표와 작은 따옴표 구분없이 문자열<br><br>

In [1]:
# 산술 연산자
# (1) 증감 연산자
a = 1
# a++
print(a)
# ** 파이썬에서 증감 연산자는 지원하지 않는다.

1

In [ ]:
# (2) 나누기의 결과는 실수
num1 = 10
num2 = 2
print(type(num1), type(num2)) # int, int
result1 = num1/num2
print(type(result1)) # float

In [2]:
lf = 1074/100
num = int(lf)
print(num, type(num)) # 10, int
print(lf, type(lf)) # 10.74, float

10 <class 'int'>
10.74 <class 'float'>

In [5]:
a, b = 23, 4
c = a/b
print(c, type(c)) # 5.75, float
d = int(a/b)
print(d, type(d)) # 5, int
e = a/b
print(e, type(e)) # 5.75, float

5.75 <class 'float'>
5 <class 'int'>
5.75 <class 'float'>

In [6]:
# 관계 연산자
a, b = 20, 20
print(a is b) # True
c, d = [10], [10]
print(c is d) # False
print(c==d) # True
# is => 참조 영역, == => 값

True
False
True

In [ ]:
# 논리 연산자
# x 변수의 값이 0 이상 100 미만
if 0<=x and x<100:
if 0 <= x < 100

In [ ]:
# 조건식의 결과 판단하기
a = 10
if a>=0 :
  # a가 0 이상일 때 실행할 코드

In [ ]:
while 조건식 :
  #조건식이 참일 동안 반복 실행

for 변수명 in 리스트 :
  # 리스트의 각 요소의 처리

리스트 : 여러 가지 자료를 저장할 수 있도록 해주는 자료형<br>
자료들을 모아서 사용할 수 있게 해 줌<br>
대괄호 내부에 자료를 넣어 선언<br>
리스트 이름 = [값1, 값2, 값3, ... ]

요소 (element) : 리스트의 대괄호 내부에 넣는 자료

In [8]:
# List의 이해
a = []
b = list()
print('a is', type(a), 'length : ', len(a))
print('b is', type(b), 'length : ', len(b))

a is <class 'list'> length :  0
b is <class 'list'> length :  0

In [9]:
numbers = [1, 2, 3, 4, 5]
print(numbers)
numbers = list([1, 2, 3, 4, 5])
print(numbers)
print(numbers[0])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
1

In [10]:
# append() 메서드는 전달된 대상을 리스트의 끝에 추가한다.
# 리스트를 append 하는 경우 그 리스트 자체가 하나의 요소가 된다.
li = [1, 2, 3, 4, 5]
print(li)
li.append(6)
print(li)
li.append([10, 20, 30])
print(li)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [10, 20, 30]]

In [14]:
li = [1, 2, 3, 4, 5]
li.append(6)
print(li[5]) # 6
li.append([10, 20, 30])
print(li[6]) # [10, 20, 30]
print(li[6][0]) # 6
# print(li[7]) out of range

6
[10, 20, 30]
10

In [16]:
# append 메서드 사용 (추가하기)
first = [1, 2, 3]
second = [10, 20, 30]
first.append(second)
print(first) # [1, 2, 3, [10, 20, 30]]
print(first[3][0]) # 10

[1, 2, 3, [10, 20, 30]]
10

In [19]:
first = [1, 2, 3]
second = [10, 20, 30]
first = first + second
print(first) # [1, 2, 3, 10, 20, 30]
print(first[3]) # 10

[1, 2, 3, 10, 20, 30]
10

In [20]:
# 리스트명.copy()
first = [1, 2, 3]
second = first
print(first, "vs", second) # [1, 2, 3] vs [1, 2, 3]

first[0] = 10
print(first, "vs", second) # [10, 2, 3] vs [10, 2, 3]

[1, 2, 3] vs [1, 2, 3]
[10, 2, 3] vs [10, 2, 3]

In [21]:
# 리스트명.copy()
first = [1, 2, 3]
second = first.copy()
print(first, "vs", second) # [1, 2, 3] vs [1, 2, 3]

first[0] = 10
print(first, "vs", second) # [10, 2, 3] vs [1, 2, 3]

[1, 2, 3] vs [1, 2, 3]
[10, 2, 3] vs [1, 2, 3]

In [26]:
# 리스트명.count(value), 리스트명.index(value) => 검색에서 유용하게 사용
numbers = [1, 3, 3, 7, 8, 10]
count = numbers.count(3) # 3이 몇 개 있는지, 없으면 0
print("count of 3", count)
index = numbers.index(3)
print("index of 3", index) #3dl 몇 번 요소에 있는지 없으면 에러

count of 3 2
index of 3 1

In [22]:
numbers = [1, 5, 8, 9, 10]
if 6 is numbers :
  print("index of 6", numbers.index(6))
else:
  print("not found 6 in list")

not found 6 in list

In [53]:
# 리스트명.insert(index, value), 리스트명.remove(value)
numbers = [1, 2, 3]
numbers.insert(1, 4)
print(numbers)
numbers.remove(4)
print(numbers)

[1, 4, 2, 3]
[1, 2, 3]

In [27]:
# 리스트명.sort()
numbers = [1, 5,3, 7, 8, 10]
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

[1, 3, 5, 7, 8, 10]
[10, 8, 7, 5, 3, 1]

In [30]:
# 리스트명.pop()
numbers = [10, 20, 30]
print(numbers.pop())
print(numbers.pop())
print(len(numbers))
print(numbers)

30
20
1
[10]

In [31]:
# for와 range 함수
scores = ["a", "b", "c", "d", "e", "f"]
for i in scores :
  print(i)

a
b
c
d
e
f

In [32]:
scores = ["a", "b", "c", "d", "e", "f"]
i=0
while(i<len(scores)):
  print(scores[i])
  i+=1

a
b
c
d
e
f

In [36]:
for i in range (5): # 0부터 종료값-1까지 반복
  print(i)

0
1
2
3
4

In [37]:
i=0
while(i<5):
  print(i)
  i+=1

0
1
2
3
4

In [42]:
a = list(range(1, 10, 2))
print(a)

[1, 3, 5, 7, 9]

In [44]:
for i in range(5):
  print(i, end = ', ')

0, 1, 2, 3, 4,

In [48]:
for i in list(range(5)):
  print(i, end = ' ')

0 1 2 3 4

In [50]:
# 리스트에 임의의 정수를 저장하고 그 합과 평균을 구하는 코드
# 최대값
# 특정요소 찾기
# 리스트 복사하기
# 리스트 잘라내기

arr = list(range(1, 11))
# arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# arr = list([1, 2, 3, 4, 5, 6, ,7 ,8 ,9 ,10])
sum = 0
print(arr)
for i in arr :
  sum += i
avg = sum/len(arr)
print(sum)
print(avg)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55
5.5

In [65]:
arr = [1, 2, -4, 56, -8, 89, 77, 23, 4, 22]
max = arr[0]
for i in arr:
  if i>max:
    max = i
print(max)

89

In [60]:
arr = [1, 2, -4, 56, -8, 89, 77, 23, 4, 22]
min = arr[0]
for i in arr:
  if min>i:
    min = i
print(min)

-8

In [66]:
arr = [1, 2, -4, 56, -8, 89, 77, 23, 4, 22]
arr.sort()
print(arr[0])
print(arr[-1])
arr.reverse()
print(arr[0])

-8
89
89

In [71]:
arr = [1, 2, -4, 56, 8, 89, 77, 23, 4, 22]
search_value = 8
for i in arr :
  if i == search_value:
    print(i, "찾았다.")

8 찾았다.

In [72]:
arr = [1, 2, -4, 56, 8, 89, 77, 23, 4, 22]
index = arr.index(8)
print(index)

4

In [73]:
arr = [1, 2, -4, 56, 8, 89, 77, 23, 4, 22]
try:
  index = arr.index(0)
  print(index)
except:
  print("찾지 못함")

찾지 못함

In [74]:
arr = [1, 2, 8, 56, 8, 89, 77, 23, 4, 22]
serach_value = 8
try:
  count = arr.count(search_value)
  print(count)
except:
  print("찾지 못함")

2

In [76]:
a = [1, 2, 3, 4, 5]
b = []
for i in a :
  b.append(i)
print(a)
print(b)
a[0] = 10
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [80]:
c = '1'
n = ord(c)
# ord => 아스키 값으로 반환
print(n, type(n))
m = int(c)
print(m, type(c), type(m))

49 <class 'int'>
1 <class 'str'> <class 'int'>

In [82]:
string = str(1234)
print(string)
string = str([1, 23, 4])
print(string, string[0])
string = str('12'+'34')
print(string)

1234
[1, 23, 4] [
1234

In [86]:
s = "this is string constant"
print(s, type(s))
i=0
while i<len(s):
  print(s[i], end="")
  i+=1
print("")
for i in s:
  print(i, end="")

this is string constant <class 'str'>
this is string constant
this is string constant

In [89]:
# 문자열 내에 특정 문자를 확인하는 코드
string = "this is string constant"
char = 't'
char_count = 0
for i in string:
  if i == char:
    char_count+=1
print('t의 개수 : ', char_count)

t의 개수 :  4

In [94]:
string = "this is string constant"
char = 't'
char_count = 0
i = 0
while i<len(string):
  if string[i] == char:
    char_count+=1
  i+=1
print('t의 개수 : ', char_count)

t의 개수 :  4

In [100]:
string = "python, this is string constant"
print(string)
substring = "is"
try:
  print(string.count(substring), "개 포함")
  print(string.index(substring), '번에 위치함')
  print(string.find(substring), '번에 위치함')
except:
  print('없다')

python, this is string constant
2 개 포함
10 번에 위치함
10 번에 위치함

In [101]:
delim = ')('
arg_list = ['a', 'b']
string = '(' + delim.join(arg_list) + ')'
print(string)

(a)(b)

In [102]:
string = "this is string constant"
splited = string.split(" ")
print(type(splited), splited)

<class 'list'> ['this', 'is', 'string', 'constant']

In [107]:
s = "this is string constant"
print(s)
# s[0] = 'T' 문자열을 수정할 수 없다.

this is string constant

In [108]:
s = "this is string constant"
upchar = s[0].upper()
print(upchar)
upchar += s[1:]
print(upchar)
print(s)

T
This is string constant
this is string constant

In [111]:
string = "this is string constant"
changed = string.replace('t', 'T', 1)
print(string)
print(changed)

this is string constant
This is string constant

In [112]:
country = ["한국", "미국", "영국"]
country.append("독일")
for name in country :
  print(name)
for name in country:
  if name == "독일" :
    print("독일 찾았다.")

한국
미국
영국
독일
독일 찾았다.

In [117]:
country = ["한국", "미국", "영국"]
# country1 = "한국 미국 영국 독일"
country.append("독일")
search_name = "독일"

try:
  country.index(search_name)
except:
  print("존재하지 않음")
else:
    print(search_name + "존재함")

독일존재함

In [118]:
countries = ["한국", "미국", "영국", "독일", "영국"]
search_country = "영국"
count_num = 0
for country in countries:
  if search_country == country:
    count_num+=1

print("영국의 개수 >> ", count_num)

영국의 개수 >>  2

In [119]:
ga = 10

def func_a():
  num=1
  num=num+ga
  print(num)

func_a()

11

In [120]:
def func_a():
  num=1
  num=num+ga
  print("id of ga in func_A", id(ga))

ga = 10
print("id of ga", id(ga))
func_a()
print("id of ga", id(ga))

id of ga 10914784
id of ga in func_A 10914784
id of ga 10914784

In [121]:
def func_a():
  num=1
  ga=20
  print("ga in func_a", ga)

ga= 10
print("ga", ga)
func_a()
print("ga", ga)

ga 10
ga in func_a 20
ga 10

In [122]:
def func_a():
  global ga
  num=1
  ga=20
  print("ga in func_a", ga)

ga= 10
print("ga", ga)
func_a()
print("ga", ga)

ga 10
ga in func_a 20
ga 20